{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forensic Exam Monitor</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Ensure the body takes at least the full viewport height */
        }
        .wrapper {
            flex: 1; /* Expand and push the footer down */
            text-align: center;
        }
        /* Additional styles for the footer */
        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Forensic Exam Monitor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        {% block content %}

        {% endblock content %}
    </div>

    <!-- Footer code here -->
    <footer class="bg-dark text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; {{ year }} FEM. All Rights Reserved.</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>Contact: jahswillogwuche@email.com</p>
                </div>
                <div class="col-md-4 text-right">
                    <p>Follow Us: 
                        <a href="#" class="text-light"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="text-light"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="text-light"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="text-light"><i class="fa fa-linkedin"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
